# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# VS Code settings
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

mental-health-bot-final/
*.zip
*.bin